
:root{ 
    --color : #24baa0; /*mozna dynamicznie zmienic*/
}
*{
    box-sizing: border-box;
}
.container{
    width: 1050px;
    margin: 0 auto;
}
.visuallyhidden { /*dodajemy do label*/
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

.section-title{
    font-size: 22px;
    color: #575757;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 45px;
}

.section-title:after{
    content: '';
    height: 8px;
    width: 320px;
    background: var(--color);
    display: block;
    position: absolute;
    left: 0;
    bottom: :0;

}

body{
    font-family: 'Raleway', sans-serif;
}

/*----------------------------------*/
/*naglowek strony */
/*-------------------------------*/


.page-header{
    height: 40px;
    background: #000;
    position: relative;
    z-index: 1000;
}
.page-header .container{
    display: flex;
    justify-content: space-between;
    align-items: center; /* zeby mogl centrowacmusi miec wysokosc*/
    height: 100%;
}

.page-logo{
    margin:0; /* h1 ma domyslne marginesy ktore podowuja ze rodzic odpychany stad trzeba wyrownac*/
    display:flex;
    align-self: center;
}
.page-logo-link{
    font-size: 15px;
    text-transform: uppercase;
    color:#fff;
    text-decoration: none;

}
.page-logo-link span{
    color: var(--color);
}
.page-nav-list{
    display:flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.page-nav-list{

}
.page-nav-list li{
    position: relative;
}
.page-nav-list a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    padding:10px 28px;
    display: block;
}
.page-nav-list a:hover {
    color: var(--color);
}

.page-nav-sublist{
    background: black;
    list-style: none;
    margin: 0;
    position: absolute;
    top:50px;
    left: 50%; /* centrowaniewzgledem rodzicawpoziomie*/
    transform: translate(-50%,0);
    padding: 10px 0;
    opacity:0;
    visibility: hidden;
    transition: 0.5s all;
}
.page-nav-list li:hover .page-nav-sublist {
    opacity:1;
    visibility:visible;
}
.page-nav-sublist:before{ /* dziubek*/
    content:'';
    width:0;
    height: 0;
    border:10px solid transparent; /*transparent reszta kwadratu przezroczysta*/
    border-bottom-color: black;
    display: block;
    position:absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, 0);

}
.page-nav-sublist:after{
    content: '';
    width: 100%; /* tojest 100% rodzica*/
    height: 25px;
    background: transparent;
    display: block;
    position: absolute;
    left:0;
    top:-25px;

}
.page-nav-sublist li{
    
}
.page-nav-sublist a{
    font-weight: normal;
    text-transform: none;   
    padding: 5px 20px;

}
/*------------------*/
/* banner*/
/*----------------*/

.main-banner {
    background-image: linear-gradient(#fff, #ddd);
}
.banner {
    height: 500px;
    display: flex;
}
.banner-prev,
.banner-next {
    widows: 90px;
    color: var(--color);
    font-size: 70px;
    background:none;
    border:0;
    transition: 0.5s all; /*zanika > podswietla sie*/
    cursor:pointer; /*łapka*/
}
.banner-prev:focus,
.banner-next:focus {
    outline:none;
}
.banner-prev:hover,
.banner-next:hover {
    color: #000;
}

.banner-next {
    order: 1; /*im wiekszy order tym dalej, banner next leci nakoniec*/
}
.banner-slides{
    background: transparent;
    flex-grow: 1;
    position: relative;
    
}
.banner-slide{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 200px;
    opacity: 0;
    transition: 0.7s opacity; /*transition zeby gladko bylo*/
}
.banner-slide-active{
    opacity: 1;
    z-index: 1;
}
/*-----------------*/
/* formularz*/
/*--------------*/

.main-contact{}
.form{
    display: flex;
    justify-content: space-between;
}
.form-left{
    width: 690px;
 /* ukladaja sie kolo siebie*/
}
.form-right{
    width:340px;


}
.form-row{
    margin-bottom: 29px;
}
.form-image{
    height: 190px;
    background: url(../images/red_chair.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -20px;
    position: relative;
    margin-bottom: 40px;
}
form-image:after{
    content:'';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(transparent 20%, #fff);

}


.form label{}
.form input[type="text"],
.form input[type="email"],
.form textarea {
    height: 66px;
    border:  1px solid var(--color);
    padding: 0 15px;
    width: 100%;
    font-size: 33px;
    font-weight: 300;
    color: #333;
    transition: 0.4s all;
}
.form input[type="text"]::placeholder,
.form input[type="email"]::placeholder,
.form textarea::placeholder {
    colod: #ddd;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
    outline:none;
    box-shadow: 0 0 0 2px var(--color);

}
.form textarea {
    height: 180px;
    padding: 15px;
    resize: vertical;
}
.form-checkbox{ /* mozna tylko wymiary zmeinic nie mozna stylowac*/
    display: flex;
    color: #aaa;
    align-items: center;
    position: relative;
}
.form-checkbox input{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    opacity:0;
}
.form-checkbox input + span { /* + oznacza za*/
    flex-shrink: 0;
    margin-right: 10px;
    display: block;
    height: 50px;
    width: 50px;
    border: 1px solid var(--color);
    position: relative;
    cursor: pointer;
}
.form-checkbox input + span:after {
    content: '';
    background: url(../images/form_ok.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width:50px;
    height:50px;
    left: 50%;
    top: 50%;
    opacity: 0;
    transition: 0.5s all;
    transform:translate(-50%, -50%) scale(0.5); /* bez tego tykacz wysuniety za kwadrat*/
}
.form-checkbox input:checked + span:after{
    opacity: 1;
    transform:translate(-50%, -50%) scale(1);

}
.form .button{
    height: 70px;
    border-radius:8px;
    border:0;
    width: 100%;
    font-size:34px;
    text-transform: uppercase;
    font-weight: bold;
    color:#fff;
    background: var(--color);
    margin-top: 10px;

}