
:root{ 
    --color : #24baa0; /*mozna dynamicznie zmienic*/
}
*{
    box-sizing: border-box;
}
.container{
    width: 1054px;
    margin: 0 auto;
}
body{
    font-family: 'Raleway', sans-serif;
}

/*----------------------------------*/
/*naglowek strony */
/*-------------------------------*/


.page-header{
    height: 40px;
    background: #000;
}
.page-header .container{
    display:flex;
    justify-content: space-between;
    align-items: center; /* zeby mogl centrowacmusi miec wysokosc*/
    height: 100%;
}

.page-logo{
    margin:0; /* h1 ma domyslne marginesy ktore podowuja ze rodzic odpychany stad trzeba wyrownac*/
    display:flex;
    align-self: center;
}
.page-logo-link{
    font-size: 15px;
    text-transform: uppercase;
    color:#fff;
    text-decoration: none;

}
.page-logo-link span{
    color: var(--color);
}
.page-nav-list{
    display:flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.page-nav-list{

}
.page-nav-list li{
    position: relative;
}
.page-nav-list a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    padding:10px 28px;
    display: block;
}
.page-nav-list a:hover {
    color: var(--color);
}

.page-nav-sublist{
    background: black;
    list-style: none;
    margin: 0;
    position: absolute;
    top:50px;
    left: 50%; /* centrowaniewzgledem rodzicawpoziomie*/
    transform: translate(-50%,0);
    padding: 10px 0;
}
.page-nav-sublist:before{ /* dziubek*/
    content:'';
    width:0;
    height: 0;
    border:10px solid transparent; /*transparent reszta kwadratu przezroczysta*/
    border-bottom-color: black;
    display: block;
    position:absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, 0);

}
.page-nav-sublist li{
    
}
.page-nav-sublist a{
    font-weight: normal;
    text-transform: none;   
    padding: 5px 20px;

}